* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

body{
    background: linear-gradient(189deg, rgba(15,35,242,1) 24%, rgba(17,220,150,1) 75%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container {
    height: 100%;
    width: 375px;
    background: transparent;
    border: 1px solid #f0f0f0;
    backdrop-filter: blur(15px);
    border-radius: 10px;
}

header {
    background-color: #1b83e2;
    border-radius: 10px 10px 0 0;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    color:#F4F4F4;
}

main {
    padding: 24px;
}

label{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    width: 375px;
}

select{
    width: 327px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    text-align: center;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    box-shadow: 2px 2px 5px 0px #00000026;
    margin-bottom: 15px;
    margin-top: 6px;
}

input{
    width: 327px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    text-align: center;
    box-shadow: 2px 2px 5px 0px #00000026;
    outline: none;

}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    background: linear-gradient(189deg, rgba(15,35,242,0.5) 24%, rgba(17,220,150,0.5) 75%);
    border: 1px solid #f0f0f0;
    border-radius: 25px;
    height: 48px;
    width: 327px;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    margin: 24px 0px 24px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.7;
}

section{
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #f0f0f0;
}

.value {
    color: #f0f0f0;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}

input::placeholder{color: #777777;
    font-weight: 100;}


@media screen and (max-width: 900px){
    .container {
        height: 100%;
        width: 100%;
    }

    header {
        height: 50px;
    }
    
    h1 {
        font-size: 20px;
    }
    
    main {
        padding: 4%;
    }
    
    label{
        font-size: 0.8rem;
    }
    
    select{
        font-size: 1rem;
        color: #555555;
        margin-bottom: 10px;
    }
    
    input{
        font-size: 1rem;
    }
    
    button {
        font-size: 1rem;
    }
    
    p {
        font-weight: 700;
        font-size: 0.8rem;
        color: #777777;
    }
    
    .value {
        font-size: 1rem;
    }   
}